// Breakpoints
$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 980px;
$xlarge: 1172px;
$xxlarge: 1400px;

// Font Sizes
$textXSmall: 12px;
$textSmall: 14px;
$textNormal: 16px;
$textMedium: 18px;
$textLarge: 24px;
$textLarger: 36px;
$textXLarge: 48px;

// Colors
$white: #ffffff;
$black: #000000;

$highlight: #147FAD;
$primaryDark: #20262B;
$primaryLight: $white;

// Spacing
$gap: 20px;
$gapLarge: 30px;

// Content Widths
$layoutWidth: 1000px;
$contentWidth: 1000px;
$focusWidth: 900px;
$headerHeight: 100px;

// Social Icon widths
$footerLogoWidth: 25px;