.item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid $white;
  margin: $gap;
  padding: $gap;

  @media screen and (min-width: $medium) {
    width: 30%;
  }
}

.itemName {
  font-size: $textMedium;
  text-align: center;
  margin: 0;
  // padding-top: 50%;
}

.open {
  opacity: 0;
}

.icon {
  width: 60px;
}

.desc {
  text-align: center;
  font-size: $textSmall;
  padding-top: $gap;
}