.workSection {
  padding-bottom: $gap;

  @media screen and (min-width: $medium) {
    padding-bottom: $gap*2;
  }
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: $gap*1.5;

  @media screen and (min-width: $medium) {
    flex-flow: row nowrap;
    padding-bottom: $gap*3;
  }
}
